*{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header{
    background-color: #1F2937;
    color:#F9FAF8;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
}

.hlogo{
    font-size: 17px;
    font-weight: bolder;
}

ul.hlinks{
    display: flex;
    gap: 25px;
    font-size: 13px;
}

/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 7% 14%;
    background-color: #1F2937;
}

.hero img{
    width: 50%;
    height: 1%;
    object-fit: cover;
}

.hero-main{
    color: #F9FAF8;
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 5px;
}

.hero-sub{
    color: #E5E7EB;
    font-size: 14px;
    margin-bottom: 14px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
    padding: 5px 9px;
    border-radius: 17px;
}