*{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header{
    background-color: #1F2937;
    color:#F9FAF8;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
}

.hlogo{
    font-size: 17px;
    font-weight: bolder;
}

ul.hlinks{
    display: flex;
    gap: 25px;
    font-size: 13px;
}

/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 7% 14%;
    background-color: #1F2937;
}

.hero img{
    width: 50%;
    height: 1%;
    object-fit: cover;
}

.hero-main{
    color: #F9FAF8;
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 5px;
}

.hero-sub{
    color: #E5E7EB;
    font-size: 14px;
    margin-bottom: 14px;
}

button{
    background-color: #3882F6;
    font-weight: bold;
    border: none;
    padding: 5px 9px;
    border-radius: 10px;
}
a{
    color: #E5E7EB;
}

/* THIRD SECTION W IMAGES: */
.third-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 14% 7% 14%;
    height: 400px;
    /* flex: 0; */
}

.third-main{
    font-size: 25px;
    font-weight: 900;
    color: #1F2937;
    height: 55px;

}

.squares{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.sq img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 17px;
    border-width: 3px;
    border: 3px solid #3882F6;
    margin-bottom: 14px;
}

.sq .text
{
    width: 200px;
    text-align: center;
    font-size: 14px;
}

/* QUOTE */
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0 14%;
    gap: 20px;

    background-color: #E5E7EB;
    font-size: 27px;
    font-style: italic;
}

.quote-text{
    width: 890px;
    flex: 0 1 auto;
}

.cite{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0 800px;
}

/* CALL TO ACTION: */
.call{
    background-color: #3882F6;
    border-radius: 10px;
    height: 150px;
    margin: 7% 14%;
    padding: 0px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.call-main{
    font-size: 25px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 5px;
}
.call-sub{
    color: #E5E7EB;
}

.call button{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #F9FAF8;
    padding: 5px 14px;
    border-radius: 10px;
}